# Recommended for most uses
DATABASE_URL=

# For uses requiring a connection without pgbouncer
DATABASE_URL_UNPOOLED=

# Parameters for constructing your own connection string
PGHOST=
PGHOST_UNPOOLED=
PGUSER=
PGDATABASE=
PGPASSWORD=

# Parameters for Vercel Postgres Templates
POSTGRES_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=
POSTGRES_URL_NO_SSL=
POSTGRES_PRISMA_URL=

# My secret key genereted by: https://generate-secret.vercel.app/32
AUTH_SECRET=

# Clerk Authentication
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

# Clerk Webhook Secret (get from Clerk Dashboard -> Webhooks)
CLERK_WEBHOOK_SECRET=

# Clerk Routes
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/login
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/signup
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/dashboard
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/onboarding

# CLOUDFLARE R2 CONFIGURATION -------------------------------------------
# Credenciais S3 geradas no painel do Cloudflare R2
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=

# O seu Account ID (encontrado no URL ou na página R2 do dashboard)
R2_ACCOUNT_ID=

# Endpoint S3-Compatible do R2
# Formato: https://<ACCOUNT_ID>.r2.cloudflarestorage.com
R2_ENDPOINT=
R2_PUBLIC_URL=

# Nome do bucket que criou
R2_BUCKET_NAME=

# Add this line for client-side access
NEXT_PUBLIC_R2_IMAGES_URL=
